{% extends 'base.html' %}
{% block body %}
<div class="registration">
    <h1>User Registration</h1>

    <div>
        <form method="post">
            {% csrf_token %}
        <input type="text" placeholder="Enter First Name" name="first_name"><br>
        <input type="text" placeholder="Enter Last Name" name="last_name"><br>
        <input type="email" placeholder="Enter Email Id" name="email"><br>
        <input type="text" placeholder="Enter User Name" name="username"><br>
        <input type="password" placeholder="Enter Password" name="password"><br>
        <input type="password" placeholder="Conform Password" name="password1"><br>
        <input type="submit" placeholder="SUBMIT">
        </form>

    </div>
    <br>
    <br>
{% for msg in messages %}
   <h4 style="color:red;text-align:center">{{msg }}</h4>
    {% endfor %}
</div>

{% endblock %}

