{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block tittle %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'taskapp:home' %}">COLLAGE STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'taskapp:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'taskapp:register' %}">Register</a>
        </li>
      </ul>
      <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DepartMent
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="https://www.bing.com/ck/a?!&&p=4c24563e146a11d9JmltdHM9MTY3NTkwMDgwMCZpZ3VpZD0wYjRlM2Y1Mi1jODFkLTZhMTQtMDMxZS0yZDczYzljZjZiYjgmaW5zaWQ9NTIwMw&ptn=3&hsh=3&fclid=0b4e3f52-c81d-6a14-031e-2d73c9cf6bb8&psq=mechatronics+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvTWVjaGF0cm9uaWNzX2VuZ2luZWVyaW5n&ntb=1">Mechatronics</a></li>
            <li><a class="dropdown-item" href="https://www.bing.com/ck/a?!&&p=daf78d6e092cf7b1JmltdHM9MTY3NTkwMDgwMCZpZ3VpZD0wYjRlM2Y1Mi1jODFkLTZhMTQtMDMxZS0yZDczYzljZjZiYjgmaW5zaWQ9NTE5OQ&ptn=3&hsh=3&fclid=0b4e3f52-c81d-6a14-031e-2d73c9cf6bb8&psq=computer+science+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQ29tcHV0ZXJfc2NpZW5jZQ&ntb=1">Computer Science</a></li>
            <li><a class="dropdown-item" href="https://www.bing.com/ck/a?!&&p=68fe913ea8863493JmltdHM9MTY3NTkwMDgwMCZpZ3VpZD0wYjRlM2Y1Mi1jODFkLTZhMTQtMDMxZS0yZDczYzljZjZiYjgmaW5zaWQ9NTUyMg&ptn=3&hsh=3&fclid=0b4e3f52-c81d-6a14-031e-2d73c9cf6bb8&psq=civil+engineering+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQ2l2aWxfZW5naW5lZXJpbmcjOn46dGV4dD1DaXZpbCUyMGVuZ2luZWVyaW5nJTIwaXMlMjBhJTIwcHJvZmVzc2lvbmFsJTIwZW5naW5lZXJpbmclMjBkaXNjaXBsaW5lJTIwdGhhdCxzeXN0ZW1zJTJDJTIwcGlwZWxpbmVzJTJDJTIwc3RydWN0dXJhbCUyMGNvbXBvbmVudHMlMjBvZiUyMGJ1aWxkaW5ncyUyQyUyMGFuZCUyMHJhaWx3YXlzLg&ntb=1">Civil Engineering</a></li>
            <li><a class="dropdown-item" href="https://www.bing.com/ck/a?!&&p=4bdd639c4b05f3ecJmltdHM9MTY3NTkwMDgwMCZpZ3VpZD0wYjRlM2Y1Mi1jODFkLTZhMTQtMDMxZS0yZDczYzljZjZiYjgmaW5zaWQ9NTIwOQ&ptn=3&hsh=3&fclid=0b4e3f52-c81d-6a14-031e-2d73c9cf6bb8&psq=automobile+engineering+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvQXV0b21vdGl2ZV9lbmdpbmVlcmluZw&ntb=1">AutoMobile Engineering</a></li>
            <li><a class="dropdown-item" href="https://www.bing.com/ck/a?!&&p=5faf663dc5f6743dJmltdHM9MTY3NTkwMDgwMCZpZ3VpZD0wYjRlM2Y1Mi1jODFkLTZhMTQtMDMxZS0yZDczYzljZjZiYjgmaW5zaWQ9NTUyOA&ptn=3&hsh=3&fclid=0b4e3f52-c81d-6a14-031e-2d73c9cf6bb8&psq=mechanical+engineering+wikipedia&u=a1aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvTWVjaGFuaWNhbF9lbmdpbmVlcmluZyM6fjp0ZXh0PU1lY2hhbmljYWwlMjBlbmdpbmVlcmluZyUyMGlzJTIwdGhlJTIwc3R1ZHklMjBvZiUyMHBoeXNpY2FsJTIwbWFjaGluZXMsdGhlJTIwb2xkZXN0JTIwYW5kJTIwYnJvYWRlc3QlMjBvZiUyMHRoZSUyMGVuZ2luZWVyaW5nJTIwYnJhbmNoZXMu&ntb=1">Mechanical Engineering</a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>

{% block body %}
{% endblock %}
</html>